<body>
  <section id="spotlight">
    <h3>Media Spotlight: <%= Work.most_voted.title %> by <%= Work.most_voted.creator %></h3>
    <p><%= Work.most_voted.vote_ids.length %> votes - <%= Work.most_voted.description %></p>
  </section>

  <section id="media-list">
    <h3>Top Movies</h3>
    <h3>Top Books</h3>
    <h3>Top Albums</h3>
  </section>
<body>